img{
size: inherit;
  width: 15vw;
  padding: 1vw;
  margin: 1vw;
  display: hidden;
}
.green-background{
    background-color: green;
}
.yellow-background{
  background-color: yellow;
}
.red-background{
  background-color: red;
}
.erase-pictures{
  display: hidden;
}
